extends layout

block content
  h1= title
  - var package = results
  div(class="container-fluid mt-3")
  div(class="row")
    each pack,i in results
        div(class="col-sm-4 bg-info m-1 p-3" onclick=`buy(${i})`) #{pack.mode} - #{pack.price} - #{pack.quantity}
  script.
     
      function buy(y)
      {
        alert(`You purchased Item ${y+1}`)
      }
  
